// Styles for a demo page.
// Totally unrelated to iCalRender plugin, only for demonstrarion purposes.

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;

    .day {
        width: 200px;
    }
}
